label {
    color:white;
    margin-bottom: 0.5rem;
}

form {
  display:flex;
  flex-direction: column;
  padding: 4rem;
  margin:auto;
  max-width: 600px;
  
}

form input, form textarea {
    margin-bottom: 1rem;
    padding:10px 18px;
    font-size: 1.2rem;
    background-color: rgba(255,255,255,0.1);
    border-color: rgba(255,255,255,0.1) ;
    color: azure;
    border-radius: 20px;
} 

.btn {
  border-radius: 15px 15px;
  align-items: center;
}

.AlertMessage {

  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  color:white;
  background-color: rgb(88, 117, 88);
  text-align: center;



}