.footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: larger;
    background-color: grey;
    justify-content: center;
    color: white;
    padding-bottom:20px;
    padding: 30px;
  }

    .letsconnect {
    font-size: larger;
   }

   .letsconnect:hover {
    color:rgb(197, 184, 184);
   }

   .Socialss {
    display: flex;
    justify-content:center;
    padding-inline: 1rem;
  } 
 