.footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: larger;
    background-color: grey;
    justify-content: center;
    color: white;
    
  }

    .letsconnect {

    font-size: larger;
 
   }

   .Socialss {
    display: flex;
    justify-content:center;
    padding-inline: 1rem;
  
    
   
  } 
  /* .letsconnect {

    align-items:flex-start;  
    font-size: larger;
    height: 100%;
    max-width:100%;
    display: flex;
    padding-left: 20px;
 
   }

   .Socialss {
    display: flex;
    justify-content:right;
    padding: 10px;
    padding-right: 30px;
    margin: 20px;
  } */

/*   
  .footer-social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .footer-info  {
    display: flex;
    justify-content: center; 
  }
  
  .footer-info-left {
    font-size: small;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 40%;
    align-items: center;
  }
  
  .footer-info__name {
    margin-bottom: 20px;
  }
  
  .footer-info__name {
    text-align: start;
  }
  
  .footer-bottom__name {
    text-transform: uppercase;
    font-size: large;
    margin: 0px 20px;
  }
  
  .footer-info_products {
    font-size: x-large;
  }
  
  .listitems1 {
    font-size: medium;
    color: rgb(56, 47, 47);
  }
  
  .footer-info-useful {
    font-size: x-large;
  }
  
  .listitems2 {
    font-size: medium;
    color: rgb(56, 47, 47);
  }
  
  .footer-info-right {
    font-size: x-large;
  }
  
  .listitems3 {
    font-size: medium;
    color: rgb(56, 47, 47);
  } *

  
  .Socialss {
    align-items:initial;
    height: 100%;
    max-width:100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .letsconnect {

   align-items:flex-start;  
   font-size: larger;
   height: 100%;
   max-width:100%;
   display: flex;
   padding-left: 20px;

  }

  .cali {
   align-items: center;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: larger;
  }

 /* .footer {
    width: 100%;
    padding: 6rem 0;
    background-color: grey;
}

.footer-container {
    max-width: 1140px;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.left {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: larger;
}

.location {
     display: flex; 
    
}

.location p {
    line-height: 30px;
}

.right {
    height: 100%;
    max-width:100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-end;
    
}

.social {
    margin-top: 1rem;
    display: flex;
    margin-bottom: 0.8rem;
}

h4 {
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
}

@media screen and (max-width: 640) {
    .footer-container {
        grid-template-columns: 1fr;
    }

} */ 