.skills {
    color: white;
}

h6 {
    background-color: rgb(88, 117, 88) ;
    color: white;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
}

.buttonresume {
    border-radius: 20px 20px;
    color: white;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
    
}

