@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=DM+Serif+Display&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Alumni Sans Pinstripe', sans-serif; */
font-family: 'DM Serif Display', serif;
}

body {
  background: rgb(23, 23, 23);
}

h1, h4, p, a {
   color:white;
   text-decoration: none;
   font-weight: bolder;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1.2rem;
  /* text-transform: uppercase; */
  background-color: rgb(88, 117, 88);
  color: white;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
}

.btn-light {
  background: transparent;
  background-color: rgb(88, 117, 88);
  color: #fff;

}

.btn:hover {
  background: rgba(255,255,255,0.2);
  color: #fff;
  transition: 0.3s;
}

